/Data
*/__pycache__
/lg-master
/master.zip
*/test.py
test.py
/aravis-python-binding/build
/aravis-python-binding/data
/aravis-python-binding/aravis.cpython-311-aarch64-linux-gnu.so
/aravis-python-binding/python_aravis.egg-info