[Unit]
Description=External Watchdog Feeder
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/usr/bin/python /usr/local/daedalus/code/WatchDog.py

[Install]
WantedBy=multi-user.target